<mat-card>
    <mat-card-title>Create New Client</mat-card-title>
    <mat-card-content>
<form [formGroup]="addClientForm" (submit)="createClient()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
</p>
<p>
      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="DateOfBirth" formControlName="dateOfBirth">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
</p>

  <p>
        <mat-form-field appearance="fill">
            <mat-label>Care Home</mat-label>
            <mat-select [(ngModel)]="selectedValue" formControlName="careHomeId">
            <mat-option *ngFor="let home of careHome" [value]="home.careHomeId">
                {{home.name}}
            </mat-option>
            </mat-select>
        </mat-form-field>
      <p> Selected client: {{selectedValue}} </p>
  <p>
    <button mat-fab color="warn" [disabled]="!addClientForm" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon> Create
    </button>
  </p>
  